body, html {
  font-family: $montserrat;
  background-color: $white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;

  a {
    color: $red;
    opacity: 1;

    &:hover, &:active {
      opacity: .1;
    }
  }

  img {
    padding-bottom: 30px;
    position: relative;
    margin: 0 auto;
    display: block;
    max-width: 100%;
  }
}
