body, html {
  font-family: $nunito;
  background-color: $white;
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;

  a {
    color: $dark;

    &:hover, &:active {
      color: $bluedark;
    }

    &.btn {
      &.ver-artigos {
        width: 130px;
        height: 40px;
        color: $white;
        display: block;
        margin: 50px auto 20px;
        background: $bluedark;
        text-align: center;
        padding: 10px 20px;
        line-height: 20px;
        font-size: 14px;
        opacity: 1;
        position: relative;
        @include border-radius(5px);
        @include transition(all .3s ease-in-out);
        @include box-sizing(border-box);

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}

header {
  .top-menu {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    background-color: hsla(0, 0%, 97%, 0.8);
    @include backdrop-filter(blur(10px));

    nav {
      padding: 20px 0;

      a {
        text-align: left;
        display: block;
        position: relative;

        h1 {
          color: $bluedark;
          font-family: $nunito;
          display: inline-block;
          visibility: visible;
          line-height: 32px;
          font-size: 32px;
          font-weight: 700;
          padding: 0;
          margin: 0;
          opacity: 1;
          @include transition(all .3s ease-in-out);

          span {
            display: inline-block;
            visibility: hidden;
            line-height: 0;
            font-size: 0;
            opacity: 0;
            @include transition(all .3s ease-in-out);
          }

          @media only screen and (min-width: 45em) {
            line-height: 44px;
            font-size: 40px;

            span {
              visibility: visible;
              font-size: 40px;
              line-height: 44px;
              opacity: 1;
            }
          }
        }
      }

      .menu-list {
        position: relative;

        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          li {
            margin: 0 5px;

            a {
              position: relative;
              display: block;
              padding: 5px;
              font-family: $nunito;
              color: $bluelittle;
              font-weight: 700;
              line-height: 22px;
              font-size: 16px;
              @include transition(all .3s ease-in-out);

              @media only screen and (min-width: 45em) {
                padding: 10px 5px;
                line-height: 24px;
                font-size: 24px;
              }

              @media only screen and (min-width: 60em) {
                padding: 10px 15px;
              }

              &:hover, &:active, &.active {
                color: $red;
              }
            }
          }
        }
      }
    }
  }
}

.apresentation {
  margin: 100px 0 40px;

  @media only screen and (min-width: 45em) {
    margin: 170px 0 100px;
  }

  .image {
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    max-width: 210px;
    @include border-radius(100%);
    @include box-shadow(0 0px 15px 0px rgba(0, 0, 0, 0.2), 0 5px 5px 0px rgba(0, 0, 0, 0.05));

    @media only screen and (min-width: 45em) {
      max-width: 300px;
    }

    .gatsby-image-wrapper {
      max-width: 100%;

      img {
        max-width: 100%;
      }
    }
  }

  .bio {
    text-align: center;
    position: relative;
    display: block;

    @media only screen and (min-width: 45em) {
      text-align: left;
    }

    h2 {
      margin: 0;
      padding: 0;
      color: $bluedark;
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 20px;
      font-family: $nunito;
      position: relative;
      font-weight: 700;
      display: block;
      width: 100%;

      small {
        margin: 0;
        color: $bluelittle;
        font-family: $nunito;
        position: relative;
        font-weight: 700;
        line-height: 18px;
        font-size: 14px;
        display: block;
        width: 100%;
      }
    }

    p {
      font-size: 20px;
      line-height: 26px;
      color: $bluedark;
      position: relative;
      display: inline-block;
      font-family: $nunito;
      z-index: 5;

      a {
        font-size: 20px;
        line-height: 26px;
        position: relative;
        display: inline-block;
        font-family: $nunito;

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          opacity: 4;
          position: absolute;
          background-color: $red;
          z-index: -1;
          display: block;
          bottom: 2px;
          left: 0px;
          @include transition(all .2s ease-in-out);
        }

        &:hover {
          &::before {
            height: 13px;
            background-color: $red;
            opacity: .3;
          }
        }
      }
    }
  }
}

.social {
  margin-top: 20px;
  position: relative;
  display: block;

  ul.social-list {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    li.social-item {
      float: left;
      margin: 6px 5px;
      position: relative;
      display: block;
      clear:both;

      a {
        display: block;
        position: relative;
        padding: .65rem .8rem;
        min-width: 75px;
        text-align: center;
        align-items: center;
        @include border-radius(.5rem);
        @include transition(all .2s ease-in-out);
        @include box-shadow(0 0px 5px 0px rgba(0, 0, 0, 0.08), 0 5px 2px 0px rgba(0, 0, 0, 0.02));

        &:hover {
          @include box-shadow(0 0px 10px 0px rgba(0, 0, 0, 0.1), 0 5px 5px 0px rgba(0, 0, 0, 0.05));
        }

        @media only screen and (min-width: 45em) {
          min-width: 120px;

          svg {
            line-height: 24px;
            height: 24px;
            width: 24px;
          }

          p {
            line-height: 24px;
            font-size: 16px;
          }
        }

        svg {
          color: transparent;
          border: 0 solid $white;
          vertical-align: bottom;
          display: inline-block;
          margin-right: 3px;
          line-height: 20px;
          height: 20px;
          width: 20px;
        }

        p {
          vertical-align: bottom;
          display: inline-block;
          line-height: 20px;
          font-size: 12px;
        }

        &.twitter {
          background: rgba($color: $twitterblue, $alpha: 0.1);
          color: $twitterblue;

          svg {
            fill: $twitterblue;
            color: transparent;
          }
        }

        &.instagram {
          //background: rgba($color: $black, $alpha: 0.1);
          color: $black;
          background: rgba(240, 148, 51, 0.3);
          background: -moz-linear-gradient(45deg, rgba(240, 149, 51, 0.3) 0%, rgba(230, 105, 60, 0.3) 25%, rgba(220, 39, 66, 0.3) 50%, rgba(204, 35, 103, 0.3) 75%, rgba(188, 24, 136, 0.3) 100%);
          background: -webkit-linear-gradient(45deg, rgba(240, 149, 51, 0.3) 0%,rgba(230, 105, 60, 0.3) 25%,rgba(220, 39, 66, 0.3) 50%,rgba(204, 35, 103, 0.3) 75%,rgba(188, 24, 136, 0.3) 100%);
          background: linear-gradient(45deg, rgba(240, 149, 51, 0.3) 0%,rgba(230, 105, 60, 0.3) 25%,rgba(220, 39, 66, 0.3) 50%,rgba(204, 35, 103, 0.3) 75%,rgba(188, 24, 136, 0.3) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(240, 148, 51, 0.3)', endColorstr='rgba(188, 24, 136, 0.3)',GradientType=1 );

          svg {
            fill: transparent;
            color: $black;
          }
        }

        &.github {
          background: rgba($color: $black, $alpha: 0.1);
          color: $black;

          svg {
            fill: transparent;
            color: $black;
          }
        }

        &.youtube {
          background: rgba($color: $red, $alpha: 0.1);
          color: $youtubered;

          svg {
            fill: transparent;
            color: $youtubered;
          }
        }

        &.linkedin {
          background: rgba($color: $linkedinblue, $alpha: 0.1);
          color: $linkedinblue;

          svg {
            fill: transparent;
            color: $linkedinblue;
          }
        }

        &.telegram {
          background: rgba($color: $telegramblue, $alpha: 0.1);
          color: $telegramblue;

          svg {
            fill: transparent;
            color: $telegramblue;
          }
        }
      }
    }
  }
}

main {
  margin-top: 100px;
  padding: 40px 0;
  background-color: $light;

  &.home {
    margin-top: 0;
  }

  .post-list {
    display: block;
    position: relative;
    @include box-sizing(border-box);

    a {
      &.post {
        display: block;
        margin-bottom: 20px;
        position: relative;
        background-color: transparent;
        @include box-sizing(border-box);

        &:last-child {
          margin-bottom: 0;
        }

        .content {
          .imgpost {
            .gatsby-image-wrapper {
              @include transition(.6s cubic-bezier(.2,.88,.54,1.21));
              @include box-shadow(0 5px 10px -3px rgba(0, 0, 0, 0.2), 0 1px 5px -2px rgba(0, 0, 0, 0.1));
              @include border-radius(.5rem);

              &:hover {
                @include box-shadow(0 3px 10px -3px rgba(0, 0, 0, 0.3), 0 1px 5px -2px rgba(0, 0, 0, 0.19));
                @include transform(scale(1.03));
              }
            }
          }

          .details {
            h3.titlepost {
              font-size: 20px;
              line-height: 24px;
              margin-bottom: 5px;
              position: relative;
              display: block;
              color: $black;
              margin-top: 5px;

              @media only screen and (min-width: 45em) {
                font-size: 22px;
                line-height: 24px;
                padding: 5px 10px;
                margin-top: 5px;
                margin-bottom: 10px;
              }

              @media only screen and (min-width: 60em) {
                font-size: 24px;
                line-height: 26px;
                margin-top: 15px;
              }
            }

            span {
              font-size: 15px;
              line-height: 16px;
              margin-bottom: 10px;
              position: relative;
              display: block;
              margin-top: 5px;
              display: inline-block;
              color: $bluedark;

              &.separator {
                margin-left: 5px;
                margin-right: 5px;
                color: $bluedark;
                opacity: .3;
              }

              &.description {
                color: $bluedark;
                font-size: 16px;
                line-height: 18px;
              }

              @media only screen and (min-width: 45em) {
                padding-top: 5px;
                padding-bottom: 5px;

                &.description {
                  padding-left: 10px;
                  padding-right: 10px;
                }

                &.categorypost {
                  padding-left: 10px;
                }

                &.datepost {
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .about {
    .gatsby-image-wrapper {
      padding-top: 60%;
      max-width: 60%;
      margin: 0 auto;
      @include border-radius(.65rem);
      @include box-shadow(0 5px 10px -3px rgba(0, 0, 0, 0.2), 0 1px 5px -2px rgba(0, 0, 0, 0.1));

      @media only screen and (min-width: 45em) {
        padding-top: 100%;
        max-width: 100%;
        width: 100%;
      }
    }

    .apresentation {
      .bio {
        p {
          margin-bottom: 10px;
        }
      }
    }

    .social {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  .blogpost {
    .gatsby-image-wrapper {
      max-height: 220px;
      @include border-radius(.65rem);
    }

    h3 {
      &.titulo {
        display: block;
        position: relative;
        font-size: 28px;
        line-height: 34px;
      }
    }

    .categorydate {
      display: block;
      position: relative;
      margin: 20px 0 15px;
    }

    .article {
      display: block;
      position: relative;

      p {
        display: block;
        position: relative;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 10px;
      }

      img {
        display: block;
        position: relative;
        max-width: 100%;
        margin: 20px 0 15px;
        @include border-radius(.5rem);
      }

      iframe {
        display: block;
        max-width: 560px;
        max-height: 315px;
        margin: 0 auto;
        width: 100%;
      }

      a {
        font-size: 20px;
        line-height: 26px;
        position: relative;
        display: inline-block;
        font-family: $nunito;
        color: $dark;
        z-index: 5;

        &::before {
          content: "";
          width: 100%;
          height: 2px;
          opacity: 4;
          position: absolute;
          background-color: $red;
          z-index: -1;
          display: block;
          bottom: 2px;
          left: 0px;
          @include transition(all .2s ease-in-out);
        }

        &:hover {
          color: $dark;

          &::before {
            height: 13px;
            background-color: $red;
            opacity: .3;
          }
        }
      }
    }
  }
}

footer {
  padding: 40px 0;
  background: $white;

  nav {
    .menu-footer {
      ul {
        margin: 20px 0;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        @media only screen and (min-width: 45em) {
          justify-content: flex-start;
        }

        li {
          position: relative;
          margin: 10px 5px;

          a {
            font-size: 14px;
            line-height: 16px;
            padding: 5px 10px;
            color: $bluedark;

            &:hover {
              color: $bluelittle;
            }

            @media only screen and (min-width: 60em) {
              font-size: 16px;
              line-height: 18px;
            }
          }
        }
      }
    }

    .copy {
      p {
        margin: 20px 0;
        font-size: 16px;
        line-height: 16px;
        color: $bluedark;
        text-align: center;

        @media only screen and (min-width: 45em) {
          text-align: right;
          line-height: 38px;
        }

        @media only screen and (min-width: 60em) {
          font-size: 16px;
        }
      }
    }
  }
}

form {
  &.formcontato {
    width: 100%;
    display: block;
    position: relative;

    .details {
      width: 100%;
      display: block;
      position: relative;

      .name, .email {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        border: 0;
        color: $bluedark;
        background: $white;
        font-size: 16px;
        line-height: 20px;
        max-width: 100%;
        min-height: 30px;
        padding: 10px 15px;
        @include box-sizing(border-box);

        @media only screen and (min-width: 45em) {
          width: 48%;
        }
      }

      @media only screen and (min-width: 45em) {
        .name {
          margin-right: 2%;
        }

        .email {
          margin-left: 2%;
        }
      }
    }

    .textarea {
      textarea {
        border: 0;
        color: $bluedark;
        background: $white;
        display: block;
        width: 100%;
        font-size: 16px;
        line-height: 20px;
        min-width: 100%;
        max-width: 100%;
        min-height: 180px;
        padding: 20px 15px;
        @include box-sizing(border-box);
      }
    }

    button.enviar {
      width: 130px;
      height: 40px;
      color: $white;
      display: block;
      margin: 20px auto 30px;
      background: $bluedark;
      text-align: center;
      padding: 10px 20px;
      line-height: 20px;
      font-size: 14px;
      opacity: 1;
      position: relative;
      @include border-radius(5px);
      @include transition(all .3s ease-in-out);
      @include box-sizing(border-box);

      &:hover {
        opacity: .8;
      }

      @media only screen and (min-width: 45em) {
        margin: 20px 0 30px auto;
      }
    }
  }
}
