// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito:wght@400,700&display=swap");

// Font Variables
$nunito: 'Nunito', sans-serif;

$break-small: 719px;

//  COLORS

// Social Colors
$dark:              #191919;
$twitterblue:       #006aad;
$redprimary:        #FF5757;
$youtubered:        #d40000;
$linkedinblue:      #0077B5;
$telegramblue:      #0088CC;

// Nord Colors
//Polar Night
$Nord00:             #2E3440;
$Nord01:             #3B4252;
$Nord02:             #434C5E;
$Nord03:             #4C566A;

//Snow Storm
$Nord04:             #D8DEE9;
$Nord05:             #E5E9F0;
$Nord06:             #ECEFF4;

//Frost
$Nord07:             #8FBCBB;
$Nord08:             #88C0D0;
$Nord09:             #81A1C1;
$Nord10:             #5E81AC;

//Aurora
$Nord11:             #BF616A;
$Nord12:             #D08770;
$Nord13:             #EBCB8B;
$Nord14:             #A3BE8C;
$Nord15:             #B48EAD;


@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model;
    -moz-box-sizing: $box-model;
    box-sizing: $box-model;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin border-radius ( $value: 3px ) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    border-radius: $value;
    // keeps background from busting out of border
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transform($transforms) {
    -webkit-transform: $transforms;
    -moz-transform: $transforms;
    -ms-transform: $transforms;
    -o-transform: $transforms;
    transform: $transforms;
}

@mixin backdrop-filter($backdrop-filter) {
	-webkit-backdrop-filter: $backdrop-filter;
	backdrop-filter: $backdrop-filter;
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
